.customContainer {
  margin-top: 5%;
  text-align: left;
  margin-left: 15%;
}

.posterImage {
  max-width: 100%;
  max-height: 100vh;

  @media screen and (max-width: 767px) {
    margin-top: 1.5%;
    margin-bottom: 25%;
  }
}

.favoriteButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.heartIcon {
  transition: transform 0.3s ease-in-out;
  margin-right: 5px;
}

.heartIconActive {
  color: red;
  transform: scale(1.2);
  margin-right: 5px;
}